* {
  font-family: Merriweather;
}
.main-header {
  max-width: screen;
  background-image: url("./assets/header-background.jpg");
  background-size: cover;
  background-color: #cccccc;
  height: 500px;
}

.menu-link {
  background-color: none;
  transition: 0.3s;
}

.menu-link:hover {
  background-color: rgba(16, 185, 129, var(--tw-border-opacity));
}
